ORG_ID=<organisation-id>
API_KEY=<tyk-dashboard-api-access-credentials>
MDCB_INGRESS=<mdcb-hostname-alias>-hyb.aws-<region>.cloud-ara.tyk.io:443
GROUP_ID=<group-id>

GATEWAY_VERSION="v5.8.12"
PUMP_VERSION="v1.13.2"
REDIS_VERSION="7"